.upload-container {
  max-width: 400px;
  margin: 80px auto 50px auto; /* Adjust margin to account for the fixed top menu */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 25px #2c3e50;
  text-align: center;
}

.upload-container h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2c3e50;
  margin-bottom: 20px;
}

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #1abc9c;
  transition: width 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #2c3e50;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.btn-primary:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  text-align: left;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2c3e50;
  margin-bottom: 5px;
  display: block;
}

.form-input {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
  width: 95%;
}

.btn-primary {
  height: 40px;
  background-color: #1abc9c;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #16a085;
}

.top-menu {
  width: 100%;
  height: 60px;
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.menu-logo {
  font-size: 24px;
  color: #ecf0f1;
  margin-right: auto;
}

.menu-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: space-around;
}

.menu-item {
  margin: 0 10px;
}

.menu-link {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.menu-link:hover {
  color: #1abc9c;
}






/*.upload-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
  }
  
  .upload-input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .upload-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }*/
  


  
  